@media(max-width: 1440px) {
    main {
        max-width: 1440px;
    }

    .jumbotron .row h1 {
        font-size: 4.5em;
        font-weight: bold;
        padding-top: 50px;
    }
    
    .jumbotron .row h5 {
        font-size: 2.5em;
        font-weight: bold;
        padding: 4px 0;
    }
    
    .jumbotron .row p {
        font-size: 1em;
        padding-top: 4px;
        padding-bottom: 50px;
    }
}

@media(max-width: 1024px) {
    .jumbotron .row h1 {
        font-size: 4em;
        font-weight: bold;
        padding-top: 50px;
    }
    
    .jumbotron .row h5 {
        font-size: 2em;
        font-weight: bold;
        padding: 4px 0;
    }
    
    .jumbotron .row p {
        font-size: 1em;
        padding-top: 4px;
        padding-bottom: 50px;
    }
}

@media(max-width: 768px) {
    .jumbotron .row h1 {
        font-size: 2.5em;
        font-weight: bold;
        padding-top: 50px;
    }
    
    .jumbotron .row h5 {
        font-size: 1.5em;
        font-weight: bold;
        padding: 4px 0;
    }
    
    .jumbotron .row p {
        font-size: 1em;
        padding-top: 4px;
        padding-bottom: 50px;
    }

    footer .p1 {
        font-size: 1.3em;
        color: #045256;
    }
    
    footer .p2 a{
        font-size: 1.1em;
        text-decoration: none;
        color: #045256;
    }
    
    footer .p2 a:hover {
        text-decoration: underline;
        color: rgb(100, 48, 48);
    }
    
    footer .p3 {
        font-size: 1em;
        color: #045256;
    }
    
    footer .sosmed a{
        font-size: 1em;
        padding: 0 8px;
        text-decoration: none;
        min-width: 44px;
        min-height: 44px;
    }
    
    footer .copyright {
        font-size: 1.2em;
        color: #045256;
    }
}


@media(max-width:680px){
    .jumbotron {
        margin-top: 40px;
    }
    .nav-toggler{
        display: block;
    }
    header .nav{
        width: 100%;
        padding: 0;
        max-height: 0px;
        overflow: hidden;
        visibility: hidden;
        transition: all 0.5s ease;
    }
    header .nav.open{
        visibility: visible;
    }
    header .nav ul{
        padding:12px 18px 0;
        margin-top: 12px;
        border-top:1px solid rgba(255,255,255,0.2);
    }
    header .nav ul li{
        padding: 4px;
        display: block;
        margin:0;
    }
}

@media(max-width: 428px) {
    .jumbotron .row h1 {
        font-size: 2.5em;
        font-weight: bold;
        padding-top: 0;
    }
    
    .jumbotron .row h5 {
        font-size: 1.5em;
        font-weight: bold;
        padding: 4px 0;
    }
    
    .jumbotron .row p {
        font-size: 1em;
        padding-top: 4px;
        padding-bottom: 0;
    }

    .header-image-right img {
        margin-top: 10px;
    }

    .text-muted {
        font-size: 0.8em;
    }

    .card-text {
        font-size: 0.8em;
    }

    .carousel-caption h1 {
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    } 
      
    .carousel-caption p {
        font-size: 0.8em;
        margin: 0;
    } 
    .carousel-caption button {
        font-size: 0.5em;
    } 

    footer .p1 {
        font-size: 1em;
        color: #045256;
    }
    
    footer .p2 a{
        font-size: 0.9em;
        text-decoration: none;
        color: #045256;
    }
    
    footer .p2 a:hover {
        text-decoration: underline;
        color: rgb(100, 48, 48);
    }
    
    footer .p3 {
        font-size: 0.9em;
        color: #045256;
    }
    
    footer .sosmed a{
        font-size: 0.9em;
        padding: 0 8px;
        text-decoration: none;
        min-width: 44px;
        min-height: 44px;
    }
    
    footer .copyright {
        font-size: 1em;
        color: #045256;
    }
}

@media(max-width:378px){
    .jumbotron .row h1 {
        font-size: 1.8em;
        font-weight: bold;
        padding-top: 20px;
    }
    
    .jumbotron .row h5 {
        font-size: 1.2em;
        font-weight: bold;
        padding: 4px 0;
    }
    
    .jumbotron .row p {
        font-size: 0.9em;
        padding-top: 4px;
        padding-bottom: 50px;
    }

    .carousel-donasi {
        margin-top: 18px;
    }
    .carousel-caption h1 {
        font-size: 1.3em;
        margin: 0;
        padding: 0;
    } 
      
    .carousel-caption p {
        font-size: 0.6em;
        margin: 0;
    } 
    .carousel-caption button {
        font-size: 0.3em;
    } 

    .text-muted {
        font-size: 0.7em;
    }

    footer .p1 {
        font-size: 0.9em;
        color: #045256;
    }
    
    footer .p2 a{
        font-size: 0.8em;
        text-decoration: none;
        color: #045256;
    }
    
    footer .p3 {
        font-size: 0.8em;
        color: #045256;
    }

    footer .copyright {
        font-size: 0.8em;
        color: #045256;
    }
}


@media(max-width:360px){
    .jumbotron .row h1 {
        font-size: 1.8em;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .jumbotron .row h5 {
        font-size: 1.2em;
        font-weight: bold;
        padding: 4px 8px;
    }
    
    .jumbotron .row p {
        font-size: 0.9em; 
        padding-top: 4px;
        padding-bottom: 50px;
        padding-left: 8px;
        padding-right: 8px;
    }

    footer .p1 {
        font-size: 0.9em;
        color: #045256;
        padding-left: 8px;
        padding-right: 8px;
    }

    footer .p2 {
        font-size: 0.9em;
        color: #045256;
        padding-left: 2px;
        padding-right: 2px;
    }

    footer .p3 {
        font-size: 0.8em;
        color: #045256;
        padding-left: 8px;
        padding-right: 8px;
    }
}

