#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .input-group-text {
        background-color: #fff;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #ccc;
        box-shadow: 0 0 0 #ccc inset, 0 0 0 #ccc;
        outline: 0 none;
    }
}

.link {
    color: #7B1FA2;
    text-decoration: none;

    &:hover {
        color: #4A148C;
    }
}

.btn-login {
    color: #fff !important;
    background-color: #3F3D56 !important;
    border-color: #3F3D56 !important;
    border-radius: 20px !important;

    &:hover {
        transform: translate(0, -5px);
        transition: all .2s linear;
    }
}

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 10vh;
}


@media screen and (max-width: 768px) {

    #login,
    #register {
        padding: 12vh 10px 0 10px;
    }

}