@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
	font-family: 'Inter', sans-serif;
}


#detail-header {
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button-show a i {
    font-size: 3em;
    color: white;
}

#detail #image-header  {
    height: 500px;
    background-size: cover !important;
    background-position: center !important;
}

#card-donation-detail {
    background-color: #9AB8BA;
}

.card-body {
    background-color: #F8F8F8;
}

.card-body a {
    list-style: none;
    text-decoration: none;
    color: #045256;
}

.text-donasi {
    font-size: 1.5em;
}

#button {
    background-color: #DDF7F8;
    color: #045256;
}

#button:hover {
    background-color: #bff5f7;
    color: #045256;
}

.comment-avatar{
    width: 75px;
    margin-right: 10px;
}